*{
    margin: 0px;
    padding: 0px;

}
a{
    text-decoration: none;
}
html{
    font-family: sans-serif;
    scroll-behavior:smooth;
}
.header{
    width: 100%;
    height: 50px;
    
}
.navigation{
    background-color:#009e5f ;
    height: 50px;
    display: flex;
    position:fixed;
    width: 100%;
    justify-content: space-between;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation a:hover{
    color: rgb(9, 89, 9);
  }
.content2 a:hover{
    color:white;
  }
.logo img{
    width: 110%;
    height: 90px;
    left: 0;
    top: 0;
   
}
.content ul{
    list-style-type: none;
}
.content  li{
    display: inline-block;
    
}
.content a{
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.first{
    width: 100%;
    height: 800px;
    display: flex;
}
.first-left{
    height: 100%;
    width: 30%;
    text-transform: uppercase;  
}
.box{
    display: flex;
    justify-content: center;
}
.explore{
    color: #009e5f;
    border: solid 3px #009e5f;
    display: inline-block;
    padding: 20px 10px;
    font-weight: 900;
    font-size: 25px;
    align-items: center;
}

.play-btn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.first-left img{
    vertical-align: middle;
    width: 100%
}
.first-left h2{
    color: #009e5f;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    margin: -4px, 0px,10px;
    padding-bottom: 20px;
}
.first-right{
    height: 100%;
    width: 70%;
    background-image:url(images/7up_featured.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.first-left:hover{
    .explore{
        background-color: #009e5f;
        color: white; 
    }
    transition: all 200ms ease;
}
.banner{
    display: flex;
    width:100%;
    height:900px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.content2{
    position: absolute;
   margin-top: 15%;
   margin-left: 10%;
   color: white; 
   
}
.content2 h1{
    font-size: 66px;
    font-weight: 900;
    margin: 20px 0px;
}
.content2 p{
    font-size: 30px;
    font-weight: 700;
}
.content2 a{
    text-decoration: none;
    color:#009e5f;
    padding: 20px;
    margin-top: 20px;
    border: solid 3px #009e5f;
    position: absolute;
    background-color: white;
    font-size: 20px;
    font-weight: 900;
}
.overlay{
    height: 1800px;
    width: 100%;
    background-color: aqua;
}
.overlay a{
    text-decoration: none;
    color: white;
}
.cocktail{
    width: 100%;
    height: 33%;
    background-image: url(images/module_cocktail.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center
}
.cocktail-btn{
    display: inline-block;
     background-color: #fe5887;
     font-size: 27px;
     text-transform: uppercase;
     color: white;
     padding: 19px 20px 18px;
     font-weight: 900;
     opacity: 1;
   
  }
.recepie{
    width: 100%;
    height: 33%;
}
.all-recepies{
    width: 100%;
    height: 34%;
}

.cocktail:hover{
    .cocktail-btn{
        transform: scale(1.06);
    }
    
}
.recepie{
    width: 100%;
    height: 33%;
    background-image: url(images/module_cooking.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.recepie-btn{
    display: inline-block;
     background-color:#6ba13f;
     font-size: 27px;
     text-transform: uppercase;
     color: white;
     padding: 19px 20px 18px;
     font-weight: 900;
     opacity: 1;
   
  }
.recepie:hover{
    .recepie-btn{
        transform: scale(1.06);
    }
    
}
.all-recepies{
    width: 100%;
    height: 34%;
    background-image: url(images/module_seeall.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center
}
.all-recepie-btn{
    display: inline-block;
     background-color:#c064ac;
     font-size: 27px;
     text-transform: uppercase;
     color: white;
     padding: 19px 20px 18px;
     font-weight: 900;
     opacity: 1;
   
  }
.all-recepies:hover{
    .all-recepie-btn{
        transform: scale(1.06);
    }
    
}

.items{
    width: 100%;
    height: 700px;
    background-image: url(images/Screenshot\ 2024-04-13\ 000616.png);
    background-size: cover;
}
.footer{
    width: 100%;
    height: 800px;
    background-image: url(images/footer-bg.webp);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end

}
.footer-2{
    background-color: white;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    display: flex;
    margin-bottom: 20px;

}
.footer-nav ul{

    list-style-type: none;
    display: flex;
}
.footer-nav ul li{
    padding: 0px 13px;
    font-size: 15px;
}
.footer-nav a{
    text-decoration: none;
    color: #636363;
    white-space:nowrap;
}
.social-media{
    display: flex;
    justify-content: center;
    
}
.social-media a{
    font-size: 25px;
}

.utility a{
    white-space: wrap;
}
.credit{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
footer img{
    height: 200px;
    width: 0;
}
